:host{
    --team-bg: #1e1e1e;
    --title-color: #ffffff;
}

.team{
    background: var(--team-bg);
    padding: 1rem;
    border-radius: 12px;

    .title{
        color:var(--title-color);
        margin-bottom: 1rem;
    }

    .members{
        display: grid;
        gap: 1rem;
    }
}